<h2>Add Question</h2>

<form method="POST">
  {% csrf_token %}

  <select name="course">
    {% for c in courses %}
      <option value="{{ c.id }}">{{ c.title }}</option>
    {% endfor %}
  </select><br><br>

  <input type="text" name="text" placeholder="Question"><br><br>

  <input type="text" name="opt1" placeholder="Option 1"><br>
  <input type="text" name="opt2" placeholder="Option 2"><br>
  <input type="text" name="opt3" placeholder="Option 3"><br>
  <input type="text" name="opt4" placeholder="Option 4"><br><br>

  <p>Select correct option:</p>
  <input type="radio" name="correct" value="1"> Option 1<br>
  <input type="radio" name="correct" value="2"> Option 2<br>
  <input type="radio" name="correct" value="3"> Option 3<br>
  <input type="radio" name="correct" value="4"> Option 4<br><br>

  <button type="submit">Add Question</button>
</form>