<h2>Quiz</h2>

<p>Time Left: <span id="timer"></span></p>

<form method="POST">
  {% csrf_token %}

  {% for q in questions %}
    <h3>{{ forloop.counter }}. {{ q.text }}</h3>

    <input type="radio" name="q{{ q.id }}" value="1"> {{ q.option1 }}<br>
    <input type="radio" name="q{{ q.id }}" value="2"> {{ q.option2 }}<br>
    <input type="radio" name="q{{ q.id }}" value="3"> {{ q.option3 }}<br>
    <input type="radio" name="q{{ q.id }}" value="4"> {{ q.option4 }}<br>
  {% endfor %}

  <button type="submit">Submit</button>
</form>

<script>
let time = {{ quiz.duration }} * 60;

setInterval(function() {
    let minutes = Math.floor(time / 60);
    let seconds = time % 60;

    document.getElementById("timer").innerHTML =
        minutes + ":" + seconds;

    time--;

    if (time < 0) {
        alert("Time Up!");
        document.forms[0].submit();
    }
}, 1000);
</script>