DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DB_NAME
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
STATIC_URL=/static/
MEDIA_URL=/media/